HOMEY_USER_EMAIL=<YourHomeyEmail>
HOMEY_USER_PASSWORD=<YourHomeyPassword>
HOMEY_USER_ID=<Fetch from URL after login https://accounts.athom.com/login>
HOMEY_CLIENT_ID=<Fetch from https://tools.developer.homey.app/api/projects>
HOMEY_CLIENT_SECRET=<Fetch from https://tools.developer.homey.app/api/projects>
HOMEY_CLOUD_ID=<Fetch from https://tools.developer.homey.app/tools/system>
HOMEY_OUTDOOR_SENSOR_ID=<Sensor ID from homey>
WEATHER_PLACE=pasila
WEATHER_CITY=helsinki
WEATHER_LOCATION_ID=100634928
