.App {
  text-align: center;
}

.homey__device {
  font-size: 40px !important;
  font-weight: bold !important;
}

.homey__zone {
  position: relative;
}

.homey__zone--title {
  font-size: 38px !important;
  font-weight: bold !important;
 
}

.homey-modes {
  font-size: 28px !important;
  font-weight: bold !important; 
}

.homey-center {
  display: flex;
  align-items: center;
}

.home-presence > div:first-child, .home-modes > div:first-child {
  text-align: left;
  padding-left: 6px;
}

.home-presence > div:nth-child(2){
  text-align: right;
}

.home-presence > div:last-child {
  text-align: right;
  padding-right: 6px;
}

.homey-left {
  text-align: left;
  padding-left: 6px;
}

.homey-right {
  text-align: right;
  padding-right: 6px;
}

.Info {
  font-size: 32px !important;
  font-weight: bold !important;
}

.Info__title {
  margin-bottom: 4px !important;
  font-size: 36px !important;
  font-weight: bold !important;
  margin-top: -2px !important;
}

.Info__title--center {
  text-align: center;
  text-decoration: underline;
}

.info__wrapper__center {
  display: flex;
  align-items: center;
}

.Weather--bold {
  font-weight: bold !important;
}

.Weather__current__date {
  font-size: 38px !important;
  text-decoration: underline;
}

.Weather__current__temp {
  font-size: 56px !important;
}

.Weather__current__divider {
  font-size: 62px !important;
}

.Weather__current__flike {
  font-size: 48px !important;
}

.Weather__day__title,
.Weather__hour__title {
  font-size: 38px !important;
  text-decoration: underline;
}

.Weather__day__temp {
  font-size: 38px !important;
  margin-bottom: -4px !important;
}

.Weather__day__divider {
  font-size: 40px !important;
}

.Weather__day__flike {
  font-size: 32px !important;
}

.Weather__hour__temp {
  font-size: 38px !important;
  margin-bottom: -20px !important;
}

.Weather__hour__divider {
  font-size: 40px !important;
}

.Weather__hour__flike {
  font-size: 32px !important;
}

.Weather__hour__pop__title {
  font-size: 32px !important;
}

.Weather__hour__pop {
  font-size: 32px !important;
}

.Weather__outdoor-sensor {
  font-size: 36px !important;
  font-weight: bold !important;
}

.timetable__content {
  font-size: 36px !important;
  font-weight: bold !important;
}

.timetable__delay {
  font-size: 28px !important;
  font-weight: bold !important;
}

#hsl-bus .timetable:nth-child(1) > div > div:nth-child(1) div:nth-child(3) {
  padding-right: 15px;
}
#hsl-bus .timetable:nth-child(1) > div > div:nth-child(3) div:nth-child(3) {
  padding-right: 15px;
}
#hsl-bus .timetable:nth-child(1) > div > div:nth-child(2) div:nth-child(1) {
  padding-left: 15px;
}
#hsl-bus .timetable:nth-child(1) > div > div:nth-child(4) div:nth-child(1) {
  padding-left: 15px;
}

#hsl-train .timetable:nth-child(1) > div > div div:nth-child(3) {
  padding-right: 10px;
}
#hsl-train .timetable:nth-child(2) > div > div > div:nth-child(1) {
  padding-left: 10px;
}

